##########################################################################
# Files
##########################################################################
.cache
.DS_Store
.env*
.generator.config
.output
.vercel
*.map

##########################################################################
# Folders
##########################################################################
/.templates/
/api/
/api/index.js
/build/
/coverage
/node_modules
/public/build/

##########################################################################
# Includes
##########################################################################
!.env.default
