.header-link {
  padding: 1rem;
  transition: color 200ms ease-out;
}

.header-link:hover,
.header-link.active {
  color: red;
}

.header-logo:hover,
.header-logo.active {
  fill: red;
}

.section-full {
  min-height: calc(100vh - var(--footer-height));
}
