html {
  background-color: var(--color-background-light);
  scroll-behavior: smooth;
  font-family: var(--font-sans-serif);
}

body {
  background-color: var(--color-background);
  color: var(--color-copy);
}

body {
  position: relative;
}

p {
  margin-bottom: 1rem;
}

p:last-of-type {
  margin: unset;
}

footer {
  height: var(--footer-height);
}

header {
  background-color: var(--color-background-light);
  color: var(--color-copy);
  border-bottom: 1px solid var(--color-border);
  height: var(--header-height);
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  z-index: 10;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: unset;
  }
}
