@tailwind components;

@layer components {
  .text-highlight {
    @apply bg-gradient-to-r from-color-primary to-blue-500 bg-clip-text text-transparent;
    letter-spacing: -0.05em;
    line-height: 1.1 !important;
    overflow: visible;
  }

  .work-preview span {
    letter-spacing: -0.05em;
  }

  .work-preview:hover span {
    @apply text-highlight;
  }

  .wysiwyg blockquote a {
    @apply text-highlight;
  }
}
