/* prettier-ignore */

:root {
  --theme-background-transparent: rgb(255 255 255 / 85%);

  --theme-background-lighter: #fff;
  --theme-background-light: #fff;
  --theme-background: #f5f8fa;
  --theme-background-dark: #24292e;
  --theme-background-darker: #161b22;

  --theme-border-light: #f5f8fa;
  --theme-border: #cfd7dd;
  --theme-border-dark: #57606a;

  --color-copy-light: #57606a;
  --color-copy: #24292e;
  --color-copy-dark: #57606a;

  --font-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --font-sans-serif: sans-serif;
  --font-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --header-height: 2rem;
  --footer-height: 2rem;
}

/*
--theme-box-shadow: rgb(0 0 0 / 50%);
--theme-border: #cfd7dd;
--theme-border-input: #cfd7dd;
--theme-copy: #24292e;
--theme-copy-light: #57606a;

--font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
--font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
*/

/*
@media (prefers-color-scheme: dark) {
  :root {
    --theme-background: #0e1117;
    --theme-background-light: #161b22;
    --theme-background-lighter: #161b22;
    --theme-background-transparent: rgb(0 0 0 / 85%);
    --theme-box-shadow: rgb(255 255 255 / 50%);
    --theme-border: #30363c;
    --theme-border-input: #30363c;
    --theme-copy: #c8d1d9;
    --theme-copy-light: #8b949e;
  }
}
*/
