/**
 * We save raw HTML markup for some elements that are controlled using
 * GraphCMS, so we add this selector to normalize the styles a bit w/o
 * requiring nested classes.
 */
.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6 {
  color: var(--color-copy);
  font-weight: 900;
  font-family: var(--font-serif);
  /* font-size: 1.8rem; */
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.wysiwyg h1,
.wysiwyg h2 {
  font-size: 1.8rem;
}

.wysiwyg h3,
.wysiwyg h4 {
  font-size: 1.4rem;
}

.wysiwyg h5,
.wysiwyg h6 {
  font-size: 1.2rem;
}

.wysiwyg p {
  color: var(--color-copy);
  margin-bottom: 1rem;
}

.wysiwyg a {
  color: red;
}

.wysiwyg ol,
.wysiwyg ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.wysiwyg ol li {
  list-style: decimal;
}

.wysiwyg ul li {
  list-style: disc;
}
